.navbar{
    width:100%;
    background-color: rgb(201, 181, 219);
    padding:12px 0px;
    text-align: right;
    border-Radius: 2%; 
}
.navbarmenu{
    display: flex;
    display: table-column;
    background-color: rgb(201, 181, 219);
    color: white;
    margin: 8px;
    text-decoration:none;
}
h1{
    color: white;
    margin: 10px;
    text-align: left;
}
   